node_modules/                                        
.env                                                 
.env.*                                               
!.env.example                                        
!.env.sample  


PORT=3000
JWT_SECRET=replace_me_with_output_of_randomBytes 
JWT_EXPIRES_IN=1h

